<a href="https://colab.research.google.com/github/CharleneLimKH/python-mini-projects/blob/main/Sugar_Level_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
uploaded = files.upload()

Saving sugar_level.csv to sugar_level.csv

In [2]:
df = pd.read_table("sugar_level.csv", sep= ",") 
df.head(10)

   Id  Sex  age  Sugar_level
0   1  1.0   40          100
1   2  0.0   41          112
2   3  1.0   40           90
3   4  0.0   43          101
4   5  1.0   44           89
5   6  0.0   47          121
6   7  1.0   46           87
7   8  1.0   41          120
8   9  1.0   48           90
9  10  0.0   51          102

In [4]:
df.describe()

              Id        Sex         age  Sugar_level
count  32.000000  31.000000   32.000000    32.000000
mean   15.875000   0.580645   73.406250   101.125000
std     8.972179   0.501610  169.085559    23.358013
min     1.000000   0.000000    4.000000     0.000000
25%     8.750000   0.000000   41.750000    92.250000
50%    15.500000   1.000000   44.500000   100.500000
75%    23.250000   1.000000   47.250000   120.250000
max    31.000000   1.000000  999.000000   130.000000

In [5]:
df.shape

(32, 4)

In [6]:
print('column names:\n', df.columns)
print('index:\n', df.index)

column names:
 Index(['Id', 'Sex', 'age', 'Sugar_level'], dtype='object')
index:
 RangeIndex(start=0, stop=32, step=1)

In [7]:
df.columns = [x.upper() for x in df.columns]
df.head(3)

   ID  SEX  AGE  SUGAR_LEVEL
0   1  1.0   40          100
1   2  0.0   41          112
2   3  1.0   40           90

In [13]:
df.isnull() #find missing data

       ID    SEX    AGE  SUGAR_LEVEL
0   False  False  False        False
1   False  False  False        False
2   False  False  False        False
3   False  False  False        False
4   False  False  False        False
5   False  False  False        False
6   False  False  False        False
7   False  False  False        False
8   False  False  False        False
9   False  False  False        False
10  False  False  False        False
11  False  False  False        False
12  False  False  False        False
13  False  False  False        False
14  False  False  False        False
15  False  False  False        False
16  False  False  False        False
17  False   True  False        False
18  False  False  False        False
19  False  False  False        False
20  False  False  False        False
21  False  False  False        False
22  False  False  False        False
23  False  False  False        False
24  False  False  False        False
25  False  False  False        False
26  False  False  False        False
27  False  False  False        False
28  False  False  False        False
29  False  False  False        False
30  False  False  False        False
31  False  False  False        False

In [23]:
df.fillna(0, inplace=True) #fill missing data with 0

In [25]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [26]:
df.drop_duplicates() #drop duplicate data

    ID  SEX  AGE  SUGAR_LEVEL
0    1  1.0   40          100
1    2  0.0   41          112
2    3  1.0   40           90
3    4  0.0   43          101
4    5  1.0   44           89
5    6  0.0   47          121
6    7  1.0   46           87
7    8  1.0   41          120
8    9  1.0   48           90
9   10  0.0   51          102
10  11  0.0   47          105
11  12  1.0   44           93
13  13  1.0   44           93
14  14  1.0   46           95
15  15  0.0   49          106
16  16  1.0  999           88
17  17  0.0   43          125
18  18  0.0   47          130
19  19  1.0   48           93
20  20  0.0   41          123
21  21  1.0   43          122
22  22  1.0   50           90
23  23  1.0   50           80
24  24  0.0   41          110
25  25  1.0   40            0
26  26  1.0   42           98
27  27  0.0   45          122
28  28  0.0   47          124
29  29  1.0   46           95
30  30  0.0    4          114
31  31  0.0   48          125

In [8]:
print("columns types:\n", df.dtypes, sep="")

columns types:
ID               int64
SEX            float64
AGE              int64
SUGAR_LEVEL      int64
dtype: object